version: "3.8"

services:
  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: website
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_URL=http://apigateway:5000
      - NEXT_PUBLIC_API_BASE_URL=http://localhost:5000
      - NEXT_PUBLIC_API_LOCAL=http://localhost:3000