AuthService/src/AuthService.API/bin
AuthService/src/AuthService.API/appsettings.json
AuthService/src/AuthService.API/appsettings.Development.json
AuthService/src/AuthService.Application/bin
AuthService/src/AuthService.Domain/bin
AuthService/src/AuthService.Infrastructure/bin

Gateway/src/Gateway.API/bin
Gateway/src/Gateway.API/appsettings.json
Gateway/src/Gateway.API/appsettings.Development.json
Gateway/src/Gateway.Application/bin
Gateway/src/Gateway.Domain/bin
Gateway/src/Gateway.Infrastructure/bin

SaleService/src/SaleService.API/bin
SaleService/src/SaleService.API/appsettings.json
SaleService/src/SaleService.API/appsettings.Development.json
SaleService/src/SaleService.Application/bin
SaleService/src/SaleService.Domain/bin
SaleService/src/SaleService.Infrastructure/bin

StockService/src/StockService.API/bin
StockService/src/StockService.API/appsettings.json
StockService/src/StockService.API/appsettings.Development.json
StockService/src/StockService.Application/bin
StockService/src/StockService.Domain/bin
StockService/src/StockService.Infrastructure/bin

.vscode/
DBStock/
DBSale/
DBUser/
RabbitMQ/
Tools/