version: '3.8'
services:
    rabbitmq:
        image: rabbitmq:3-management
        container_name: rabbitmq
        ports:
            - "5672:5672"
            - "15672:15672"
        environment:
            - RABBITMQ_DEFAULT_USER=guest
            - RABBITMQ_DEFAULT_PASS=guest
        healthcheck:
            test: ["CMD", "rabbitmqctl", "status"]
            interval: 10s
            timeout: 10s
            retries: 5
        restart: unless-stopped
    db-stock:
        image: postgres:15
        container_name: db-stock
        environment:
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=postgres
            - POSTGRES_DB=StockDB
        ports:
            - "5432:5432"
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 30s
            timeout: 10s
            retries: 5
        restart: unless-stopped
    db-sales:
        image: postgres:15
        container_name: db-sales
        environment:
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=postgres
            - POSTGRES_DB=SalesDB
        ports:
            - "5433:5432"
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 30s
            timeout: 10s
            retries: 5
        restart: unless-stopped
    db-users:
        image: postgres:15
        container_name: db-users
        environment:
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=postgres
            - POSTGRES_DB=UsersDB
        ports:
            - "5434:5432"
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 30s
            timeout: 10s
            retries: 5
        restart: unless-stopped
    stockservice:
        build:
            context: ./StockService/src/StockService.API
            dockerfile: Dockerfile
        container_name: stockservice
        image: stockservice:1.0
        ports:
            - "5003:5003"
        depends_on:
            rabbitmq:
                condition: service_healthy
            db-stock:
                condition: service-healthy
        healthcheck:
            test: ["CMD-SHELL", "curl -f http://localhost:5003/api/health || Exit 1"]
            interval: 30s
            timeout: 10s
            retries: 5
        restart: unless-stopped
    saleservice:
        build: 
            context: ./SaleService/src/SaleService.API
            dockerfile: Dockerfile
        container_name: saleservice
        image: saleservice:1.0
        ports:
            - "5002:5002"
        depends_on:
            rabbitmq:
                condition: service_healthy
            db-sales:
                condition: service_healthy
            stockservice:
                condition: service_healthy
        healthcheck:
            test: ["CMD-SHELL", "curl -f http://localhost:5002/api/health || Exit 1"]
            interval: 30s
            timeout: 10s
            retries: 5
        restart: unless-stopped
    authservice:
        build: 
            context: ./AuthService/src/AuthService.API
            dockerfile: Dockerfile
        container_name: authservice
        image: authservice:1.0
        ports:
            - "5001:5001"
        depends_on:
            db-users:
                condition: service_healthy
            saleservice:
                condition: service_healthy
        healthcheck:
            test: ["CMD-SHELL", "curl -f http://localhost:5001/api/health || Exit 1"]
            interval: 30s
            timeout: 10s
            retries: 5
        restart: unless-stopped
    apigateway:
        build: 
            context: ./Gateway/src/Gateway.API
            dockerfile: Dockerfile
        container_name: apigateway
        image: apigateway:1.0
        ports:
            - "5000:5000"
        depends_on:
            stockservice:
                condition: service_healthy
            saleservice:
                condition: service_healthy
            authservice:
                condition: service_healthy
        healthcheck:
            test: ["CMD-SHELL", "curl -f http:localhost:5000/api/health || Exit 1"]
            interval: 30s
            timeout: 10s
            retries: 5
        restart: unless-stopped
